<form>
  <div class="form-row">
      {{input type='text' placeholder='Task name' value=newTask class='form-control'}} <br>
      <div {{action 'addTodo'}} class="ToDoItem-Add glyphicon glyphicon-plus"> </div>
  </div>
</form>
