  <div id="app">
	<div class="ToDo">
	  <img class="Logo" src="https://i1.wp.com/opensourceforu.com/wp-content/uploads/2017/03/ember-js-1.png?w=690&amp;ssl=1">
	  <h1 class="ToDo-Header">Ember To Do</h1>
	  <div class="ToDo-Container">
      {{partial 'partials/todos'}}
      <hr>
		  {{partial 'partials/todo-form'}}
	  </div>
	</div>
  </div>
